service vendor.camera-motor-1-0 /vendor/bin/hw/vendor.mokee.camera.motor@1.0-service.realme_sdm710
    interface vendor.mokee.camera.motor@1.0::ICameraMotor default
    class hal
    user system
    group system
    shutdown critical
